<main>
    <section class="section-form">
        <img src="/svg/logo.svg"/>
        <h2>{{ title }}</h2>

        <ng-content></ng-content>

        <div class="btn-wrapper">
            <button
              class="btn-primary"
              (click)="submit()"
              [disabled]="btnPrimaryDisable"
            >
              {{ btnTextPrimary }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ btnTextSecondary }}</button>
        </div>
    </section>
    <section class="section-ilustracao">
        <h1>Movimente!</h1>
        <img src="/svg/ilustracao.svg"/>
    </section>
</main>
