.alert {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}
